In [ ]:


# Pandas 

Pandas is an open-source library that is used for handle data manipulations . 

import pandas as pd 

# Data Structure of Pandas : 
# (1). Series  ----> 1-Dimensional array and it contains only values . 
# (2). DataFrame ----> Multi-Dimensional array and it contains values with column name . 

# Series

a = pd.Series([1,45,78,90])
a

type(a) 

# DataFrame

a = {
    "Emp_ID":[1,2,3,4,5],
    "Emp_Name":['Sam' , 'Raj', 'Mohit' , 'Aniket' , 'Pallavi'],
    "Domain": ['IT' , 'Sales' , 'IT' , 'IT' , 'Sales'],
    "Working_hours": [9,8,8,9,9],
    "Salary" : [23000,25000,31000,36000,40000]
}

df = pd.DataFrame(a) 
# df

type(df) 

# df

df.to_csv("C:\\Users\\saurabh\\Desktop\\dat\\emp_data.csv")

df.to_csv("C:\\Users\\saurabh\\Desktop\\dat\\emp_data.csv" , index=False)

# Import data

df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\dat\\emp_data.csv")

df

In [ ]:
# Pandas 

Pandas is an open-source library that is used for handle data manipulations .

In [1]:
import pandas as pd

In [ ]:
# Data Structure of Pandas : 
# (1). Series  ----> 1-Dimensional array and it contains only values . 
# (2). DataFrame ----> Multi-Dimensional array and it contains values with column name

In [2]:
# Series

a = pd.Series([1,45,78,90])
a

0     1
1    45
2    78
3    90
dtype: int64

In [3]:
type(a)

pandas.core.series.Series

In [4]:
# DataFrame

a = {
    "Emp_ID":[1,2,3,4,5],
    "Emp_Name":['Sam' , 'Raj', 'Mohit' , 'Aniket' , 'Pallavi'],
    "Domain": ['IT' , 'Sales' , 'IT' , 'IT' , 'Sales'],
    "Working_hours": [9,8,8,9,9],
    "Salary" : [23000,25000,31000,36000,40000]
}
df = pd.DataFrame(a)

In [5]:
type(df)

pandas.core.frame.DataFrame