In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("covid_toy.csv")

In [7]:
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [8]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
df.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [10]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [11]:
df.isnull().sum()      ## for checking missing values

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [12]:
df['fever'] = df['fever'].fillna(100)

In [13]:
df['fever'].mean()

np.float64(100.76)

In [14]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [15]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [ ]:
# Loc And Iloc 

# df.loc[row_range , column_name]  ---> Last index value will be include . 
# df.iloc[row_range , column_range] ---> Last index value will not be include

In [16]:
df.loc[2:5 , ['age' , 'fever' , 'has_covid']]

   age  fever has_covid
2   42  101.0        No
3   31   98.0        No
4   65  101.0        No
5   84  100.0       Yes

In [17]:
df.iloc[2:5 , [0,1,2]]

   age  gender  fever
2   42    Male  101.0
3   31  Female   98.0
4   65  Female  101.0

In [18]:
df2 = df.copy()

In [19]:
df2.loc[2:5 , ['age' , 'fever']] = 900

In [24]:
df2['Gender'] = df2['gender'].map({"Male":0 , "Female":1})

In [26]:
df2 = df2.drop(columns = ['Gender'])

In [ ]:
 df = df.drop(columns = ['Gender'])  ### for delete a column

In [29]:
df.sort_index()    ### for sequence wise sorting

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [30]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [33]:
df = df.rename(columns = {
    "gender" : "Updated_gender" , 
    "fever" :  "Latest_updated_fever"
    })

In [34]:
df = df[['age' , 'Latest_updated_fever' , 'has_covid']]

In [36]:
df

    age  Latest_updated_fever has_covid
0    60                 103.0        No
1    27                 100.0       Yes
2    42                 101.0        No
3    31                  98.0        No
4    65                 101.0        No
..  ...                   ...       ...
95   12                 104.0        No
96   51                 101.0       Yes
97   20                 101.0        No
98    5                  98.0        No
99   10                  98.0       Yes

[100 rows x 3 columns]

In [37]:
df.head(3)

   age  Latest_updated_fever has_covid
0   60                 103.0        No
1   27                 100.0       Yes
2   42                 101.0        No

In [38]:
df2.loc[2:5 , ['age' , 'gender' , 'has_covid']] = None

In [39]:
df2.isnull().sum()

age          4
gender       4
fever        0
cough        0
city         0
has_covid    4
dtype: int64

In [40]:
df.shape

(100, 3)

In [41]:
df2 = df2.dropna()

In [42]:
df2.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [43]:
df2.shape

(96, 6)