In [ ]:
# set in python
 # 1. identification = {}
 # 2. mutable data type..> we can change or update value at a run time
 # 3. unordered , unindexed and it contains only unique value

In [2]:
a = {1,2,3,3,2,4}
a

{1, 2, 3, 4}

In [4]:
a.add(55)
a

{1, 2, 3, 4, 55}

In [1]:
# loop in sets
a = {345,67,9}
for i in a:
    print(i)

345
67
9

In [10]:
a = {1,2,3,4}
b = {3,4,5,6}
c = a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [11]:
d = a|b
d

{1, 2, 3, 4, 5, 6}

In [12]:
# intersection

a = {1,2,3,4}
b = {3,4,5,6}
c = a.intersection(b)
c

{3, 4}

In [13]:
d = a&b
d

{3, 4}

In [14]:
a-b  ### it will return only set a value removing common elements

{1, 2}

In [15]:
b-a  ### it will return only set b value removing common elements

{5, 6}

In [16]:
a = {1,2,3,4}
a.clear()
a

set()

In [ ]:
# given a list of num, removes al duplicate values and return the unique

In [ ]:
a = []
size = int(input("enter the size"))
for i in range(size):
    val = int(input("enter the item"))
    a.append(val)
print(a)

In [17]:
# Q.Given two sets , find elements that are unique to each set

a = {1,2,3,4}
b = {3,4,5,6}
a^b

{1, 2, 5, 6}

In [18]:
# Q. Given two sets , find the common values of 
a = {1,2,3,4}
b = {3,4,5,6}
a.intersection(b)

{3, 4}

In [19]:
# Q. Given two sets, check first set is subset of second set

a = {1,2,3,4}
b = {1,2}
a.issubset(b)

False

In [22]:
# Q. Given sets, return a single set that contains all unique elements

a = {1,2,3,4}
b = {3,4,5,6}
c = {5,6,7,8}
d = a.union(b)
e = d.union(c)
e

{1, 2, 3, 4, 5, 6, 7, 8}